<!DOCTYPE html>
<html lang="{{global.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pages.template.blank.title}}</title>
</head>
<body>
    {{pages.template.blank.content}}
</body>
</html>