<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body>
    <h1 class="center-title">{{pages.template.homepage1.title}}</h1>
    <img class="banner" src="{{pages.template.homepage1.image}}" alt="{{pages.template.homepage1.altImage}}">
    <p class="content">{{pages.template.homepage1.content}}</p>
</body>
</html>