<header>
    <div class="header-title">{{ title }}</div>
    <div class="header-links">
        {% for link in links %}
            <a href="{{ link.url }}">{{ link.label }}</a>
        {% endfor %}
    </div>
</header>